[submodule "Niels Engelhard"]
  path = 598045
  url = https://github.com/mrNiels/FunTime
[submodule "Wouter Noordhof"]
  path = 605251
  url = https://github.com/WouterNoordhof/OOPD-oefenen
[submodule "Lars Buijs"]
  path = 601413
  url = https://github.com/Phoodtjee/oopd-oefenopdrachten
[submodule "Cathelijne de Bruijn"]
  path = 595634
  url = https://github.com/CathelijnedeBruijn/OOPD
[submodule "Klaas van der Linden"]
  path = 599644
  url = https://github.com/KlaasvdLinden/OOPD-oefeningen
[submodule "Tom Sievers"]
  path = 598986
  url = https://github.com/TomSievers/oopd
[submodule "Jelmer Wijnja"]
  path = 600152
  url = http://github.com/Jelmergu/OOPD
[submodule "Renzo Schilderinck"]
  path = 600969
  url = https://github.com/RenzoSchilderinck/oopd
[submodule "TBeeren"]
  path = 594098
  url = https://github.com/TBeeren/OOPD
[submodule "Jeffrey"]
  path = 606601
  url = https://github.com/JeffreyKragten/OOPD-oefenopdrachten
[submodule "Sander Bussink"]
  path = 592528
  url = https://github.com/synolog1x/OOPD-Opdrachten
[submodule "Valérie de Bie"]
  path = 598207
  url = https://github.com/ValeriedeBie/OOPD-oefening
[submodule "Henkie van den Oord"]
  path = 602671
  url = https://github.com/Henkie2112/OOPD
[submodule "Simon van Noppen"]
  path = 605717
  url = https://github.com/Simonvn1/OOPD
[submodule "Jari Keizer"]
  path = 604237
  url = https://github.com/jarikeizer/OOPD
[submodule "Bart Brendeke"]
  path = 598674
  url = https://github.com/BBrendeke/oopd-oefeningen
[submodule "Erhan"]
  path = 569531
  url = https://github.com/E-yilmaz52/OOPD-Oefening
[submodule "Abdulwahab Alzuabi"]
  path = 591821
  url = https://github.com/abdul91z/oopd
[submodule "Sem van Manen"]
  path = 605060
  url = https://github.com/SemvManen/OOPD-Oefenles
[submodule "Jasmijn"]
  path = 602898
  url = https://github.com/jasmijnB97/OOPD-oefenopdrachten
[submodule "Suleiman Obeid"]
  path = 598775
  url = https://github.com/Samobey/oopd-opdrachten
[submodule "Baris Urhan"]
  path = 598502
  url = https://github.com/creativename123
[submodule "Marnick Hartgers"]
  path = 587408
  url = https://github.com/marnick-hartgers/OOPP_HAN
[submodule "Maarten Grootoonk"]
  path = 597588
  url = https://github.com/MaartenGDev/oopd