[submodule "NielsEngelhard"]
	path = NielsEngelhard
	url = https://github.com/mrNiels/FunTime
[submodule "WouterNoordhof"]
	path = WouterNoordhof
	url = https://github.com/WouterNoordhof/OOPD-oefenen
[submodule "LarsBuijs"]
	path = LarsBuijs
	url = https://github.com/Phoodtjee/oopd-oefenopdrachten
[submodule "CathelijnedeBruijn"]
	path = CathelijnedeBruijn
	url = https://github.com/CathelijnedeBruijn/OOPD
[submodule "KlaasvanderLinden"]
	path = KlaasvanderLinden
	url = https://github.com/KlaasvdLinden/OOPD-oefeningen
[submodule "TomSievers"]
	path = TomSievers
	url = https://github.com/TomSievers/oopd
[submodule "JelmerWijnja"]
	path = JelmerWijnja
	url = http://github.com/Jelmergu/OOPD
[submodule "RenzoSchilderinck"]
	path = RenzoSchilderinck
	url = https://github.com/RenzoSchilderinck/oopd
[submodule "TBeeren"]
	path = TBeeren
	url = https://github.com/TBeeren/OOPD
[submodule "Jeffrey"]
	path = Jeffrey
	url = https://github.com/JeffreyKragten/OOPD-oefenopdrachten
[submodule "SanderBussink"]
	path = SanderBussink
	url = https://github.com/synolog1x/OOPD-Opdrachten
[submodule "ValériedeBie"]
	path = ValériedeBie
	url = https://github.com/ValeriedeBie/OOPD-oefening
[submodule "HenkievandenOord"]
	path = HenkievandenOord
	url = https://github.com/Henkie2112/OOPD
[submodule "SimonvanNoppen"]
	path = SimonvanNoppen
	url = https://github.com/Simonvn1/OOPD
[submodule "JariKeizer"]
	path = JariKeizer
	url = https://github.com/jarikeizer/OOPD
[submodule "BartBrendeke"]
	path = BartBrendeke
	url = https://github.com/BBrendeke/oopd-oefeningen
[submodule "Erhan"]
	path = Erhan
	url = https://github.com/E-yilmaz52/OOPD-Oefening
[submodule "AbdulwahabAlzuabi"]
	path = AbdulwahabAlzuabi
	url = https://github.com/abdul91z/oopd
[submodule "SemvanManen"]
	path = SemvanManen
	url = https://github.com/SemvManen/OOPD-Oefenles
[submodule "Jasmijn"]
	path = Jasmijn
	url = https://github.com/jasmijnB97/OOPD-oefenopdrachten
[submodule "SuleimanObeid"]
	path = SuleimanObeid
	url = https://github.com/Samobey/oopd-opdrachten
[submodule "MarnickHartgers"]
	path = MarnickHartgers
	url = https://github.com/marnick-hartgers/OOPP_HAN
[submodule "MaartenGrootoonk"]
  path = 597588
  url = https://github.com/MaartenGDev/oopd
[submodule "BarisUrhan"]
  path = 598502
  url = https://github.com/creativename123